Importamos los paquetes que vamos a usar

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Leemos el archivo .csv con pandas

In [24]:
df=pd.read_csv('student_sleep_patterns.csv')
df

,Student_ID,Age,Gender,University_Year,Sleep_Duration,Study_Hours,Screen_Time,Caffeine_Intake,Physical_Activity,Sleep_Quality,Weekday_Sleep_Start,Weekend_Sleep_Start,Weekday_Sleep_End,Weekend_Sleep_End
0,1,24,Other,2nd Year,7.7,7.9,3.4,2,37,10,14.16,4.05,7.41,7.06
1,2,21,Male,1st Year,6.3,6.0,1.9,5,74,2,8.73,7.10,8.21,10.21
2,3,22,Male,4th Year,5.1,6.7,3.9,5,53,5,20.00,20.47,6.88,10.92
3,4,24,Other,4th Year,6.3,8.6,2.8,4,55,9,19.82,4.08,6.69,9.42
4,5,20,Male,4th Year,4.7,2.7,2.7,0,85,3,20.98,6.12,8.98,9.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,24,Male,2nd Year,5.1,9.3,1.9,4,110,4,17.42,8.43,6.93,10.78
496,497,20,Male,2nd Year,8.9,7.7,3.5,3,40,4,1.22,15.54,5.85,7.23
497,498,21,Male,3rd Year,5.7,6.4,3.9,1,68,10,9.94,2.25,5.46,10.72
498,499,18,Female,2nd Year,4.9,0.5,3.5,0,12,2,19.10,15.49,8.35,7.20
499,500,21,Male,3rd Year,7.9,11.6,1.0,0,86,1,7.54,14.12,7.01,9.19

Hacemos un reescalado de los datos

In [25]:
print(df.head())
print(df.info())

   Student_ID  Age Gender University_Year  Sleep_Duration  Study_Hours  \
0           1   24  Other        2nd Year             7.7          7.9
1           2   21   Male        1st Year             6.3          6.0
2           3   22   Male        4th Year             5.1          6.7
3           4   24  Other        4th Year             6.3          8.6
4           5   20   Male        4th Year             4.7          2.7

   Screen_Time  Caffeine_Intake  Physical_Activity  Sleep_Quality  \
0          3.4                2                 37             10
1          1.9                5                 74              2
2          3.9                5                 53              5
3          2.8                4                 55              9
4          2.7                0                 85              3

   Weekday_Sleep_Start  Weekend_Sleep_Start  Weekday_Sleep_End  \
0                14.16                 4.05               7.41
1                 8.73                 7.10               8.21
2                20.00                20.47               6.88
3                19.82                 4.08               6.69
4                20.98                 6.12               8.98

   Weekend_Sleep_End
0               7.06
1              10.21
2              10.92
3               9.42
4               9.01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student_ID           500 non-null    int64
 1   Age                  500 non-null    int64
 2   Gender               500 non-null    object
 3   University_Year      500 non-null    object
 4   Sleep_Duration       500 non-null    float64
 5   Study_Hours          500 non-null    float64
 6   Screen_Time          500 non-null    float64
 7   Caffeine_Intake      500 non-null    int64
 8   Physical_Activity    500 non-null    int64
 9   Sleep_Quality        500 non-null    int64
 10  Weekday_Sleep_Start  500 non-null    float64
 11  Weekend_Sleep_Start  500 non-null    float64
 12  Weekday_Sleep_End    500 non-null    float64
 13  Weekend_Sleep_End    500 non-null    float64
dtypes: float64(7), int64(5), object(2)
memory usage: 54.8+ KB
None

Ponemos en datos numÃ©ricos los que estaban escritos a letra

In [26]:
gender_mapping={
    'Male':0,
    'Female':1,
    'Other':2
}

df['Gender']=df['Gender'].replace(gender_mapping)

u_year_mapping={
    '1st Year':1,
    '2nd Year':2,
    '3rd Year':3,
    '4th Year':4
}

df['University_Year']=df['University_Year'].replace(u_year_mapping)
df

,Student_ID,Age,Gender,University_Year,Sleep_Duration,Study_Hours,Screen_Time,Caffeine_Intake,Physical_Activity,Sleep_Quality,Weekday_Sleep_Start,Weekend_Sleep_Start,Weekday_Sleep_End,Weekend_Sleep_End
0,1,24,2,2,7.7,7.9,3.4,2,37,10,14.16,4.05,7.41,7.06
1,2,21,0,1,6.3,6.0,1.9,5,74,2,8.73,7.10,8.21,10.21
2,3,22,0,4,5.1,6.7,3.9,5,53,5,20.00,20.47,6.88,10.92
3,4,24,2,4,6.3,8.6,2.8,4,55,9,19.82,4.08,6.69,9.42
4,5,20,0,4,4.7,2.7,2.7,0,85,3,20.98,6.12,8.98,9.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,24,0,2,5.1,9.3,1.9,4,110,4,17.42,8.43,6.93,10.78
496,497,20,0,2,8.9,7.7,3.5,3,40,4,1.22,15.54,5.85,7.23
497,498,21,0,3,5.7,6.4,3.9,1,68,10,9.94,2.25,5.46,10.72
498,499,18,1,2,4.9,0.5,3.5,0,12,2,19.10,15.49,8.35,7.20
499,500,21,0,3,7.9,11.6,1.0,0,86,1,7.54,14.12,7.01,9.19

Normalizamos los datos

In [30]:
from sklearn.preprocessing import StandardScaler
colums=['Age','Gender','University_Year','Sleep_Duration','Study_Hours','Screen_Time','Caffeine_Intake','Physical_Activity','Sleep_Quality','Weekday_Sleep_Start','Weekend_Sleep_Start','Weekday_Sleep_End','Weekend_Sleep_End']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[colums]=scaler.fit_transform(df[colums])

df

,Student_ID,Age,Gender,University_Year,Sleep_Duration,Study_Hours,Screen_Time,Caffeine_Intake,Physical_Activity,Sleep_Quality,Weekday_Sleep_Start,Weekend_Sleep_Start,Weekday_Sleep_End,Weekend_Sleep_End
0,1,0.857143,1.0,0.333333,0.74,0.655462,0.800000,0.4,0.308333,1.000000,0.627338,0.100251,0.605528,0.010076
1,2,0.428571,0.0,0.000000,0.46,0.495798,0.300000,1.0,0.616667,0.111111,0.366906,0.253133,0.806533,0.803526
2,3,0.571429,0.0,1.000000,0.22,0.554622,0.966667,1.0,0.441667,0.444444,0.907434,0.923308,0.472362,0.982368
3,4,0.857143,1.0,1.000000,0.46,0.714286,0.600000,0.8,0.458333,0.888889,0.898801,0.101754,0.424623,0.604534
4,5,0.285714,0.0,1.000000,0.14,0.218487,0.566667,0.0,0.708333,0.222222,0.954436,0.204010,1.000000,0.501259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0.857143,0.0,0.333333,0.22,0.773109,0.300000,0.8,0.916667,0.333333,0.783693,0.319799,0.484925,0.947103
496,497,0.285714,0.0,0.333333,0.98,0.638655,0.833333,0.6,0.333333,0.333333,0.006715,0.676190,0.213568,0.052897
497,498,0.428571,0.0,0.666667,0.34,0.529412,0.966667,0.2,0.566667,1.000000,0.424940,0.010025,0.115578,0.931990
498,499,0.000000,0.5,0.333333,0.18,0.033613,0.833333,0.0,0.100000,0.111111,0.864269,0.673684,0.841709,0.045340
499,500,0.428571,0.0,0.666667,0.78,0.966387,0.000000,0.0,0.716667,0.000000,0.309832,0.605013,0.505025,0.546599

Seleccionamos cuales serÃ¡n los inputs y cual serÃ¡ el output

In [36]:
X=df.drop(columns=['Student_ID','Sleep_Quality'])

Y=df['Sleep_Quality']

Indicamos cual serÃ¡ el porcentaje de entrenamiento y cual serÃ¡ el porcentaje de test

In [54]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=112)

Creamos la red neuronal